---
// https://docs.astro.build/en/guides/content-collections/#building-for-static-output-default
// https://docs.astro.build/en/guides/images/#images-in-content-collections
import { filterAllPosts } from "@/content.config";
import Layout from "@/layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("aktualnosci", filterAllPosts);
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout
  description="Jesteśmy Akademia Wychowania Muzycznego - grupa uzdolnionych muzycznie studentów i studentek z AWF w Białej Podlaskiej."
  canonical="https://awm-awf.pl/"
  keywords="Akademia Wychowania Muzycznego"
  title={post.data.title}
>
  <article class="prose mx-auto p-4">
    <h1>{post.data.title}</h1>
    <a href="/">&lt;&lt; Back</a>
    <Content />
  </article>
</Layout>
