---
import { Image } from 'astro:assets'
import awm from '@/assets/awm.avif'
import background from '@/assets/background.svg'
import { Icon } from 'astro-icon/components'
---

<sections
  style={`background-image: url(${background.src})`}
  class='flex flex-col relative gap-8 bg-cover lg:bg-center lg:gap-12 px-spaced min-h-screen justify-center items-center overflow-hidden text-center pt-16 lg:pt-30'
>
  <div
    id='ellipse'
    class='absolute w-full h-2/4 bottom-1/4 right-0 -z-0 rotate-12'
  >
  </div>
  <a
    target='_blank'
    rel='noopener'
    href='https://www.instagram.com/_a.w.m._a.w.f_/'
  >
    <Icon
      name='sociale'
      class={'absolute hidden lg:block top-36 left-24 size-48 transition-all hover:scale-110 duration-500 animate-spin-slow'}
    />
  </a>
  <figure
    class='flex items-center justify-center w-full text-3xl font-semibold xl:text-4xl'
  >
    <span>Akademia Wychowania Muzycznego</span>
    <span>Akademia Wychowania Muzycznego</span>
    <span>Akademia Wychowania Muzycznego</span>
    <span>Akademia Wychowania Muzycznego</span>
    <span>Akademia Wychowania Muzycznego</span>
    <span>Akademia Wychowania Muzycznego</span>
    <span>Akademia Wychowania Muzycznego</span>
    <span>Akademia Wychowania Muzycznego</span>
    <span>Akademia Wychowania Muzycznego</span>
    <span>Akademia Wychowania Muzycznego</span>
  </figure>

  <!-- <div
    class='text-foreground mt-16 md:mt-12 flex gap-4 text-xl lg:text-3xl w-full items-center justify-center uppercase'
  >
    <div class='dropping-texts items-center justify-center mb-2'>
      Jako studenci AWF umiemy:
      <div
        class='text-bbrand-green font-bold underline-offset-4 underline decoration-wavy decoration-2 decoration-foreground'
      >
        grać na instrumentach
      </div>
      <div
        class='text-bbrand-green font-bold underline-offset-4 underline decoration-wavy decoration-2 decoration-foreground'
      >
        śpiewać
      </div>
      <div
        class='text-bbrand-green font-bold underline-offset-4 underline decoration-wavy decoration-2 decoration-foreground'
      >
        zdawać sesje
      </div>
      <div
        class='text-bbrand-green font-bold underline-offset-4 underline decoration-wavy decoration-2 decoration-foreground'
      >
        pić piwo
      </div>
    </div>
  </div> -->
  <div
    class='flex flex-col md:flex-row gap-4 md:gap-8 items-center justify-center text-base md:text-lg mt-14 md:mt-12 w-full font-semibold'
  >
    <a
      class='rounded-full flex gap-4 items-center hover:ring-2 ring-offset-4 btn btn-white btn-animate ring-bbrand-green transition-all bg-bbrand-green py-4 px-5'
      href='/#wspolpraca'
      >Zatrudnij band <Icon
        name='lucide:guitar'
        class={'flex size-6 text-bbrand-yellow'}
      /></a
    >
    <a
      class='rounded-full flex gap-4 items-center btn btn-white btn-animate hover:ring-2 ring-offset-4 ring-bbrand-green transition-all bg-bbrand-green py-4 px-5'
      href='/kontakt'
      >Dołącz do bandu <Icon
        name='lucide:mic'
        class={'flex size-6 text-bbrand-yellow'}
      />
    </a>
  </div>
  <Image
    src={awm}
    alt='Akademia Wychowania Muzycznego'
    loading={'eager'}
    fetchpriority={'high'}
    class={'min-h-[35vh] max-h-[50vh] mt-4 object-cover object-[35%_65%] rounded-3xl xl:max-w-7xl z-10'}
    widths={[400, 600, 800, 1000, 1200, 1600, 2000]}
    sizes='(max-width: 400px) 400px, (max-width: 600px) 600px, (max-width: 800px) 800px, (max-width: 1000px) 1000px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, (min-width: 1601px) 2000px'
  />
</sections>

<style>
  @import url(https://fonts.googleapis.com/css?family=Concert+One);

  span {
    animation: glow 12s ease-in-out infinite;

    /* For less laggy effect, uncomment this:
  
  animation:none;
  -webkit-text-stroke:1px #fff; 
  
=========== */
  }

  #ellipse {
    background: conic-gradient(
      from 187.31deg at 53.06% 26.16%,
      var(--color-bbrand-yellow) -20.13deg,

      rgba(255, 33, 246, 0) 122.88deg,
      rgba(125, 35, 240, 0) 273.47deg,
      var(--color-bbrand-yellow) 229.87deg,
      var(--color-bbrand-yellow) 375.67deg
    );
    filter: blur(80px);
    transform: matrix(-1, 0, 0, 0, 0);
  }

  figure {
    animation: wobble 8s ease-in-out infinite;
    transform-origin: center center;
    transform-style: preserve-3d;
  }

  @keyframes wobble {
    0%,
    100% {
      transform: rotate3d(1, 1, 0, 30deg);
    }
    25% {
      transform: rotate3d(-1, 1, 0, 30deg);
    }
    50% {
      transform: rotate3d(-1, -1, 0, 30deg);
    }
    75% {
      transform: rotate3d(1, -1, 0, 30deg);
    }
  }

  span {
    width: 100%;

    font: 'Concert One', sans-serif;
    text-transform: uppercase;
    position: absolute;
    color: #0a0a0a;
  }

  @keyframes glow {
    0%,
    100% {
      text-shadow: 0 0 30px var(--color-bbrand-green);
    }
    25% {
      text-shadow: 0 0 30px var(--color-bbrand-yellow);
    }
    50% {
      text-shadow: 0 0 30px var(--color-bbrand-green);
    }
    75% {
      text-shadow: 0 0 30px var(--color-bbrand-yellow);
    }
  }

  span:nth-child(2) {
    transform: translateZ(3px);
  }
  span:nth-child(3) {
    transform: translateZ(6px);
  }
  span:nth-child(4) {
    transform: translateZ(9px);
  }
  span:nth-child(5) {
    transform: translateZ(12px);
  }
  span:nth-child(6) {
    transform: translateZ(15px);
  }
  span:nth-child(7) {
    transform: translateZ(18px);
  }
  span:nth-child(8) {
    transform: translateZ(21px);
  }
  span:nth-child(9) {
    transform: translateZ(24px);
  }
  span:nth-child(10) {
    transform: translateZ(27px);
  }

  .dropping-texts {
    display: inline-block;
    text-align: center;
    height: 36px;
    vertical-align: -2px;
  }

  .dropping-texts > div {
    font-size: 0px;
    opacity: 0;
    position: absolute;
  }

  .dropping-texts > div:nth-child(1) {
    animation: roll 5s linear infinite 0s;
  }
  .dropping-texts > div:nth-child(2) {
    animation: roll 5s linear infinite 1s;
  }
  .dropping-texts > div:nth-child(3) {
    animation: roll 5s linear infinite 2s;
  }
  .dropping-texts > div:nth-child(4) {
    animation: roll2 5s linear infinite 3s;
  }

  @keyframes roll {
    0% {
      font-size: 0px;
      opacity: 0;

      margin-top: 0px;
      transform: rotate(-25deg);
    }
    3% {
      opacity: 1;
      transform: rotate(0deg);
    }
    5% {
      font-size: inherit;
      opacity: 1;

      margin-top: 0px;
    }
    20% {
      font-size: inherit;
      opacity: 1;

      margin-top: 0px;
      transform: rotate(0deg);
    }
    27% {
      font-size: 0px;
      opacity: 0.5;

      margin-top: 100px;
    }
    100% {
      font-size: 0px;
      opacity: 0;

      margin-top: 0px;
      transform: rotate(15deg);
    }
  }

  @keyframes roll2 {
    0% {
      font-size: 0px;
      opacity: 0;

      margin-top: 0px;
      transform: rotate(-25deg);
    }
    3% {
      opacity: 1;
      transform: rotate(0deg);
    }
    5% {
      font-size: inherit;
      opacity: 1;

      margin-top: 0px;
    }
    30% {
      font-size: inherit;
      opacity: 1;

      margin-top: 0px;
      transform: rotate(0deg);
    }
    37% {
      font-size: 0px;
      opacity: 0;

      margin-top: 0px;
      transform: rotate(15deg);
    }
  }
  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-flex;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
  }

  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .btn-white {
    background-color: var(--color-bbrand-green);
  }

  .btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  .btn-white::after {
    background-color: var(--color-bbrand-green);
  }

  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
</style>
