---
import background from '@/assets/background2.svg'
import P1 from '@/assets/band3.avif'
import Breadcrumbs from '@/components/features/Breadcrumbs.astro'
import { Image } from 'astro:assets'
---

<section
  style={`background-image: url(${background.src})`}
  class='flex flex-col relative xl:flex-row gap-8 xl:gap-16 w-full pb-16 xl:h-screen bg-right lg:bg-center bg-cover px-spaced pt-24 xl:pt-36 items-center justify-center overflow-hidden'
>
  <div
    id='ellipse'
    class='absolute w-full h-2/4 bottom-1/4 right-0 -z-0 rotate-160'
  >
  </div>

  <div
    class='space-y-8 z-10 intersect:animate-fade-in-scale-index intersect-once place-self-center 2xl:place-self-end relative before:absolute before:inset-0 before:ml-5 before:-translate-x-px xl:before:mx-auto xl:before:translate-x-0 before:h-full before:w-0.5 before:bg-gradient-to-b before:from-transparent before:via-slate-300 before:to-transparent'
  >
    <!-- Item #1 -->
    <div
      class='relative flex items-center justify-between xl:justify-normal xl:odd:flex-row-reverse group is-active'
    >
      <!-- Icon -->
      <div
        class='flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-emerald-500 text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 xl:order-1 xl:group-odd:-translate-x-1/2 xl:group-even:translate-x-1/2'
      >
      </div>
      <!-- Card -->
      <div
        class='w-[calc(100%-4rem)] xl:w-[calc(50%-2.5rem)] bg-white p-4 rounded border border-slate-200 shadow'
      >
        <div class='flex items-center justify-between space-x-2 mb-1'>
          <div class='font-bold text-slate-900'>Order Placed</div>
          <time class='font-caveat font-medium text-indigo-500'>08/06/2023</time
          >
        </div>
        <div class='text-slate-500'>
          Pretium lectus quam id leo. Urna et pharetra aliquam vestibulum morbi
          blandit cursus risus. Pretium lectus quam id leo.
        </div>
      </div>
    </div>

    <!-- Item #2 -->
    <div
      class='relative flex items-center justify-between xl:justify-normal xl:odd:flex-row-reverse group is-active'
    >
      <!-- Icon -->
      <div
        class='flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-emerald-500 text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 xl:order-1 xl:group-odd:-translate-x-1/2 xl:group-even:translate-x-1/2'
      >
        <svg
          class='fill-current'
          xmlns='http://www.w3.org/2000/svg'
          width='12'
          height='10'
        >
          <path
            fill-rule='nonzero'
            d='M10.422 1.257 4.655 7.025 2.553 4.923A.916.916 0 0 0 1.257 6.22l2.75 2.75a.916.916 0 0 0 1.296 0l6.415-6.416a.916.916 0 0 0-1.296-1.296Z'
          ></path>
        </svg>
      </div>
      <!-- Card -->
      <div
        class='w-[calc(100%-4rem)] xl:w-[calc(50%-2.5rem)] bg-white p-4 rounded border border-slate-200 shadow'
      >
        <div class='flex items-center justify-between space-x-2 mb-1'>
          <div class='font-bold text-slate-900'>Order Shipped</div>
          <time class='font-caveat font-medium text-indigo-500'>09/06/2023</time
          >
        </div>
        <div class='text-slate-500'>
          Pretium lectus quam id leo. Urna et pharetra aliquam vestibulum morbi
          blandit cursus risus.
        </div>
      </div>
    </div>

    <!-- Item #3 -->
    <div
      class='relative flex items-center justify-between xl:justify-normal xl:odd:flex-row-reverse group is-active'
    >
      <!-- Icon -->
      <div
        class='flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-emerald-500 text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 xl:order-1 xl:group-odd:-translate-x-1/2 xl:group-even:translate-x-1/2'
      >
        <svg
          class='fill-current'
          xmlns='http://www.w3.org/2000/svg'
          width='12'
          height='10'
        >
          <path
            fill-rule='nonzero'
            d='M10.422 1.257 4.655 7.025 2.553 4.923A.916.916 0 0 0 1.257 6.22l2.75 2.75a.916.916 0 0 0 1.296 0l6.415-6.416a.916.916 0 0 0-1.296-1.296Z'
          ></path>
        </svg>
      </div>
      <!-- Card -->
      <div
        class='w-[calc(100%-4rem)] xl:w-[calc(50%-2.5rem)] bg-white p-4 rounded border border-slate-200 shadow'
      >
        <div class='flex items-center justify-between space-x-2 mb-1'>
          <div class='font-bold text-slate-900'>In Transit</div>
          <time class='font-caveat font-medium text-indigo-500'>10/06/2023</time
          >
        </div>
        <div class='text-slate-500'>
          Pretium lectus quam id leo. Urna et pharetra aliquam vestibulum morbi
          blandit cursus risus.
        </div>
      </div>
    </div>

    <!-- Item #4 -->
    <div
      class='relative flex items-center justify-between xl:justify-normal xl:odd:flex-row-reverse group is-active'
    >
      <!-- Icon -->
      <div
        class='flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-emerald-500 text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 xl:order-1 xl:group-odd:-translate-x-1/2 xl:group-even:translate-x-1/2'
      >
        <svg
          class='fill-current'
          xmlns='http://www.w3.org/2000/svg'
          width='12'
          height='10'
        >
          <path
            fill-rule='nonzero'
            d='M10.422 1.257 4.655 7.025 2.553 4.923A.916.916 0 0 0 1.257 6.22l2.75 2.75a.916.916 0 0 0 1.296 0l6.415-6.416a.916.916 0 0 0-1.296-1.296Z'
          ></path>
        </svg>
      </div>
      <!-- Card -->
      <div
        class='w-[calc(100%-4rem)] xl:w-[calc(50%-2.5rem)] bg-white p-4 rounded border border-slate-200 shadow'
      >
        <div class='flex items-center justify-between space-x-2 mb-1'>
          <div class='font-bold text-slate-900'>Out of Delivery</div>
          <time class='font-caveat font-medium text-indigo-500'>12/06/2023</time
          >
        </div>
        <div class='text-slate-500'>
          Pretium lectus quam id leo. Urna et pharetra aliquam vestibulum morbi
          blandit cursus risus.
        </div>
      </div>
    </div>

    <!-- Item #5 -->
    <div
      class='relative flex items-center justify-between xl:justify-normal xl:odd:flex-row-reverse group'
    >
      <!-- Icon -->
      <div
        class='flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-emerald-500 text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 xl:order-1 xl:group-odd:-translate-x-1/2 xl:group-even:translate-x-1/2'
      >
        <svg
          class='fill-current'
          xmlns='http://www.w3.org/2000/svg'
          width='12'
          height='12'
        >
          <path
            d='M12 10v2H7V8.496a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V12H0V4.496a.5.5 0 0 1 .206-.4l5.5-4a.5.5 0 0 1 .588 0l5.5 4a.5.5 0 0 1 .206.4V10Z'
          ></path>
        </svg>
      </div>
      <!-- Card -->
      <div
        class='w-[calc(100%-4rem)] xl:w-[calc(50%-2.5rem)] bg-white p-4 rounded border border-slate-200 shadow'
      >
        <div class='flex items-center justify-between space-x-2 mb-1'>
          <div class='font-bold text-slate-900'>Delivered</div>
          <time class='font-caveat font-medium text-amber-500'
            >Exp. 12/08/2023</time
          >
        </div>
        <div class='text-slate-500'>
          Pretium lectus quam id leo. Urna et pharetra aliquam vestibulum morbi
          blandit cursus risus.
        </div>
      </div>
    </div>
  </div>
  <div
    class='flex flex-col gap-8 relative items-center intersect:animate-fade-in-scale-index intersect-once place-self-center'
  >
    <Breadcrumbs
      breadcrumbs={[
        { href: '/', children: 'AWM' },
        { href: '/historia', children: 'Historia' },
      ]}
    />
    <h1 class='font-semibold text-center xl:text-start'>
      Historia zespołu AWM
    </h1>
    <Image
      src={P1}
      alt={'Zespół AWM po koncecie zimowym 2024 r.'}
      loading={'eager'}
      fetchpriority={'high'}
      class={'rounded-2xl xl:max-w-2xl rounded-t-2xl'}
      widths={[400, 600, 800, 1000, 1200, 1600, 2000]}
      sizes='(max-width: 400px) 400px, (max-width: 600px) 600px, (max-width: 800px) 800px, (max-width: 1000px) 1000px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, (min-width: 1601px) 2000px'
    />
  </div>
</section>

<style>
  #ellipse {
    background: conic-gradient(
      from 187.31deg at 53.06% 26.16%,
      var(--color-bbrand-yellow) -20.13deg,

      rgba(255, 33, 246, 0) 122.88deg,
      rgba(125, 35, 240, 0) 273.47deg,
      var(--color-bbrand-yellow) 229.87deg,
      var(--color-bbrand-yellow) 375.67deg
    );
    filter: blur(80px);
    transform: matrix(-1, -1, 0, 0, 0);
  }
</style>
