---
import background from '@/assets/background2.svg'
import P1 from '@/assets/Bandv2.avif'
import { Icon } from 'astro-icon/components'
import Breadcrumbs from '@/components/features/Breadcrumbs.astro'

import { Image } from 'astro:assets'
---

<section
  class='flex flex-col relative xl:flex-row gap-8 xl:gap-16 w-full lg:pt-16 md:h-screen bg-left lg:bg-center bg-cover px-spaced pb-24 xl:pb-36 items-center justify-center overflow-hidden rotate-180'
  style={`background-image: url(${background.src})`}
>
  <a
    target='_blank'
    rel='noopener'
    href='https://www.instagram.com/_a.w.m._a.w.f_/'
  >
    <Icon
      name='sociale'
      class={'absolute hidden lg:block bottom-45 right-[30%] size-48 transition-all hover:scale-110 duration-500 animate-spin-slow'}
    />
  </a>
  <div
    id='ellipse'
    class='absolute w-full h-2/4 bottom-1/4 right-0 -z-0 rotate-160'
  >
  </div>
  <div
    class='flex relative intersect:animate-fade-in-scale-index intersect-once place-self-end'
  >
    <Image
      src={P1}
      alt={'Zespół AWM po koncecie zimowym 2024 r.'}
      loading={'eager'}
      fetchpriority={'high'}
      class={'rounded-2xl xl:max-w-4xl rounded-t-2xl rotate-180'}
      widths={[400, 600, 800, 1000, 1200, 1600, 2000]}
      sizes='(max-width: 400px) 400px, (max-width: 600px) 600px, (max-width: 800px) 800px, (max-width: 1000px) 1000px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, (min-width: 1601px) 2000px'
    />
  </div>
  <div
    class='flex flex-col place-self-start items-center gap-4 xl:gap-8 xl:items-start rotate-180 intersect:animate-fade-in-scale-index intersect-once'
  >
    <Breadcrumbs
      breadcrumbs={[
        { href: '/', children: 'AWM' },
        { href: '/muzycy', children: 'Muzycy' },
      ]}
    />
    <h1 class='font-semibold text-center xl:text-start'>Skład zespołu AWM</h1>
    <p
      class='text-3xl xl:text-6xl font-bold text-bbrand-100 flex flex-col gap-4 text-center xl:text-start'
    >
      <span
        style='text-shadow: #029646 0px 5px 10px;'
        class='text-bbrand-green max-w-4xl'
        >POZNAJ NASZYCH WSPANIAŁYCH ARTYSTÓW</span
      >
    </p>
    <p class='text-base xl:text-xl max-w-3xl text-center xl:text-start'>
      W całej swojej historii, zespół AWM gościł już ponad 40 muzyków. Skład
      zmienia się z roku na rok a muzycy pochodzą zarówno z uczelni AWF jak i
      spoza niej. Poznaj aktualny skład przewijając w dół!
    </p>
  </div>
</section>

<style>
  #ellipse {
    background: conic-gradient(
      from 187.31deg at 53.06% 26.16%,
      var(--color-bbrand-yellow) -20.13deg,

      rgba(255, 33, 246, 0) 122.88deg,
      rgba(125, 35, 240, 0) 273.47deg,
      var(--color-bbrand-yellow) 229.87deg,
      var(--color-bbrand-yellow) 375.67deg
    );
    filter: blur(80px);
    transform: matrix(-1, -1, 0, 0, 0);
  }
</style>
